$caveBrown: #2e220e;
$fadedSlate: #d4d1c433;
$ultraBrightGold: #ffd112;
$brightWhite: #ffffff;
$mud: #533706;
$fadedWhite: rgba(255, 255, 255, 0.4);
$fadedSilver: rgba(217, 217, 217, 0.2);
$lightWhite: rgba(255, 255, 255, 0.6);
$fadedBrightGold: rgba(255, 221, 81, 0.69);
$errorRed: #ff3500;
$mainBlack: #000000d9;
