@import '../../../../styles/base/variables.scss';
@import '../../../../styles/base/mixins.scss';

.data__record,
.dataSelected {
    background-color: white;
    display: flex;
    height: 100px;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0;
    padding: 3px 15.5px 4px;
    margin: 10px;
    cursor: pointer;

    &__left {
      display: flex;
      align-items: flex-start;
      align-items: center;
      width: 70%;
      flex-grow: 1;

      &__checkbox {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background-color: $slateGrey;
      }
    }

    &__title {
      color: black;
      font-family: 'Roboto', sans-serif;
      padding-left: 5px;
    }
  }

.dataSelected {
  border: 1px solid white;
  transition: transform 0.8s ease-in-out;
  height: 200px;
    color: white;
  }

.data__record:h2,
.dataSelected:h2{
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.data__record p,
.dataSelected p{
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


.data__record,
.dataSelected {
  margin: 20px 0;
  cursor: pointer;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 90%;
  display: flex;
  text-decoration: none;
  position: relative;
}

.data__record {
  display: block;
}

@include for-size('mobile') {
  .data__record,
  .dataSelected {
    dislay: block;
  }
}

.data__record::after,
.dataSelected::after{
  content: "";
  background: white;
    pointer-events: none;
  mix-blend-mode: exclusion;
  width: calc(100%);
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.data__record:hover::after,
.dataSelected::after{

  height: calc(500px + 8px)
  
}

// hover style
.data:hover {
  opacity: 0.8;
}

.modal {

  border-radius: 8px;

  &__container {
    height: 50%;
    background-color: $coal;
  }

  &__content {
  background-color: $coal;
  
}}


.deleteSlide {
  opacity: 0;
  margin-right: -60px;

  &__dataSelected {
    opacity: 1;
    width: 60px;
    height: 120%;
    background: #ff3500;
    border-radius: 0 4px 4px 0;
    margin-top: -3px;
    margin-right: -15px;
    transition: all 0.3s ease-in;
  }
}

.data-record-checkbox {
  background-color: yellow;
}
