@import '../../../../../styles/base/variables';

.tag {
		padding: 8px;
		background-color: white;
		color: black;
		font-size: 1.5rem;
		font-weight: 500;
		margin-top: 8px;
		cursor: pointer;
		font-family: Roboto, sans-serif;
		
		&:not(:last-child) {
			margin-right: 8px;
		}
}
